[2020-06-09 19:31] hotmeteor opened #2 "Add ability to assert expected response by code"
Each response has a unique response code, and often they are in the same group (ie. `200` and `202`). For this reason, it would be beneficial to be able to assert the expected response status from the `->assertValidResponse()` method, like:
[code]

[2020-06-26 15:55] #2 closed

[2020-11-18 15:21] bastien-phi opened #7 "Allow usage of yml extension"
Currently, only `.yaml` files are supported

[2020-11-19 16:43] #7 closed

[2020-11-21 22:04] TXC opened #12 "allOf does not match the spec"
I've the a bunch of endpoints that have this structure:

[code]

And i get the following error:
[code]

I'm using version Spectator v0.6.1

[2020-11-24 04:01] jarrodparkes opened #13 "middleware should return 422?"
I have a spec that describes a `POST /v1/login` endpoint expecting a request body like this:

[code]

Here's a contract test that I've written to confirm this:

[code]

When Spectacle's middleware takes over, it is transforming the `$response` such that a `400` status code is returned; however, this is impossible from a Laravel perspective. Laravel would always return a `422` in this case, even if

[2020-11-24 12:41] hotmeteor commented on #13
Your test is combining both a feature and a spec test. Try changing it to:
[code]
The test should be testing the structure of the request and response that adheres to the response code.

The `400` code is Spectator's code for invalid structure, not Laravel's code for invalid data.

[2020-11-24 12:42] hotmeteor commented on #12
I think you want to use `array` instead of `allOf` there

[2020-11-24 15:17] jarrodparkes commented on #13
@hotmeteor so, when I change the test to match your suggestion, I still get the following error:

[code]

^ Depending on how you want to interpret this, the request body could be said to be invalid/improper/etc:

- "The correct fields are provided, but they null"
- "The correct fields are provided, but the email field should actually look like an email"
- "Since all the fields provided are null, t

[2020-11-24 15:30] hotmeteor commented on #13
Ya but there's still confusion here.

Spectator isn't even letting you hit the endpoint, because the expected request structure as defined by your spec is incorrect. So it's throwing a 400 first to say "your request is wrong".

Once you fix the request then you'll be able to get through to the endpoint and it'll respond with a `200` or `422` based on the data. At that point you'd have a test for e

[2020-11-24 18:38] #13 closed

[2020-12-01 14:26] Hasnayeen commented on #13
@hotmeteor even if the expected request structure is provided according to spec it still return `Request body did not match provided JSON schema.`, upon inspection of the code I found the package always return `400` for any validation exception, so there is now way to test for `422`

[2020-12-01 14:36] jarrodparkes commented on #13
@hotmeteor correct me if im wrong, but i had a similar problem/misunderstanding.

the `400` which spectator returns for any validation exception is as-designed. if you want to test a 422 response you'll have to do so in a separate, integration-style test (don't call `Spectator::using` at all). this probably isn't too big of an issue considering the structure of 422's across an API are likely simil

[2020-12-01 14:44] hotmeteor commented on #13
Ya, that is true, but you _can_ also do a spec test to ensure your `422`-type response has a valid structure.

The issue people are running into I think is that they're attempting to do this with values that are breaking their spec. Here's an example:

Let's say you have a `color` attribute, and the only valid values are "red", "blue", and "yellow". There's a few things to consider here:

1. If yo

[2020-12-01 14:49] jarrodparkes commented on #13
@hotmeteor i think that helps, yes. it is probably helpful to state that while at least one of the scenarios allows you to test a 422 response, you won't ever be able to get full coverage of the surface area of requests that could cause a 422. for example, if you take your first scenario:

1. If you've defined the enum value in your spec for color ["red", "blue", or "yellow"] then any value you te

[2020-12-01 14:51] hotmeteor commented on #13
Yep, absolutely. But again just to make sure it's clear: spec tests are not intended to test those scenarios. They are intended to test request and response structures. So if you want to test a 422 structure then you'll need to be able to expose that somehow.

Your feature/unit tests can test validation.

[2020-12-01 14:57] jarrodparkes commented on #13
right. i think we are on the same page. i believe the confusion boils down to the following assumptions:

- "Sweet! I can use Spectator to test request and response structures! Let me test a 422."
- _(proceeds to make an API request that would normally return a 422)_
- "Wait a minute, this should return a 422! Why is it returning a 400?"_
- _(learns that Spectator is causing the 400 because the re

[2020-12-01 15:14] Hasnayeen commented on #13
I just tested this scenario in my project, I have an enum field in my request and provided a value that is not in the spec, all the other field is provided according to spec, but it is still returning `400`. So even in this way I can't spec test 422 response (I'm not testing validation message but rather 422 response structure);

[2020-12-03 13:35] #12 closed

[2020-12-07 13:23] JoeAlamo opened #15 "Can't publish configuration file"
Hey there,

I've tried to follow the instructions to publish the spectator config file but I've been running into issues.

[code]

If I do `php artisan vendor:publish` I do not see Spectator in the list.

I think it is because of the following change:
https://github.com/hotmeteor/spectator/commit/9093a8472d95121f44f370cb2bb04ceaf7a9bcea#diff-331e7ac4fbc1fff81e81d46b4553c25dba1f3a097c6471d220754afa

[2020-12-10 14:06] #15 closed

[2020-12-11 12:40] JoeAlamo opened #19 "Incompatibility between JSON Schema validation & OpenAPI specification"
Hey there,

I have been testing this package and I think I have came across an issue which I believe is the result of an incompatibility between the JSON Schema validation being performed, and the OpenAPI specification.

If I have an OpenAPI response with some nullable attributes, I might have that defined like:

[code]

using `nullable: true`, in accordance with OpenAPI 3.0 spec.

If in my tests,

[2020-12-11 13:43] hotmeteor commented on #19
Ya, very interesting discovery. That's a bit of a inconsistency for sure.

Let me dig into this for a bit and see what I come up with. Thanks.

[2020-12-11 13:52] hotmeteor commented on #19
@JoeAlamo So, there's been extensive discussion on this topic by OpenAPI spec contributors. There's even a proposal to clarify the usage of `nullable`: https://github.com/OAI/OpenAPI-Specification/blob/master/proposals/003_Clarify-Nullable.md

Feel free to read it all, but the part that pertains to this issue is:

More simply, using `nullable` is not really the right way to go, and you should be d

[2020-12-11 14:10] JoeAlamo commented on #19
Yep, bit of an ongoing saga!

But therein lines the conundrum - if you modify your OpenAPI 3.0 spec file to have `"type": ["string", "null"]` then according to OpenAPI Spec 3.0.3 it is invalid - https://swagger.io/specification/#data-types

And any other tooling you are using for OpenAPI will break (SwaggerUI, linters, other doc generation tools etc.). Stuck between a rock and a hard place :/

Thi

[2020-12-11 14:27] hotmeteor commented on #19
I suppose I could detect if you're using < OAS 3.1 and treat it specially. Would that work?

[2020-12-11 14:57] JoeAlamo commented on #19
I think that could work (perhaps targeting `3.0` specifically? I am not familiar with differences between OpenAPI 3.0 and 2.0, and any JSON Schema things related to that, but assume there may be some). I just don't know how big of a change that would be.

https://github.com/thephpleague/openapi-psr7-validator looks promising, but it seems Laravel and PSR-7 aren't the best of friends - and the type

[2020-12-11 15:59] hotmeteor commented on #19
Ya I think I'll stick with `Opis\JsonSchema` for now and see if I can get this to work in a not too hacky way.

[2020-12-11 19:04] hotmeteor commented on #19
@JoeAlamo

Here's a PR for adding support for `nullable` for 3.0.x specs. Basically, it checks if that property is set in that version of spec doc and if so it changes the `type` to be `['string', 'null']` (or whatever the original value was).

It doesn't apply to 3.1.x specs, since `nullable` is deprecated and you should be sending an array in the first place.

Code of interest: https://github.co

[2020-12-16 23:25] hotmeteor commented on #19
@JoeAlamo Do you want to take that PR for a spin and see if it does what you expect?

[2020-12-18 13:07] #19 closed

[2020-12-21 20:07] bilfeldt commented on #13
Dear @hotmeteor

I have not been able to confirm this in the source code, but when first defining the specs using something like `Spectator::using('Api.v1.json')` and afterwards posting json (using `$this->postJson($uri, $data)`) then this package intercepts the request and validates against the specs?

Hence this is why an invalid request (like an incorrect `color` for an enum field - case 1 in y

[2021-02-16 02:50] michaeldyrynda opened #29 "Unclear error messages when failing to parse spec file"
Sample application: https://github.com/michaeldyrynda/spectator-sample

When the spec file is [invalid](https://github.com/michaeldyrynda/spectator-sample/commit/37db1eb48dd008ba9eccbc3cf6fe90aa9b57fa38), in this instance because the tags are incorrectly defined as:

[code]

A `TypeErrorException` is thrown within `cebe\openapi\SpecBaseObject@instantiate:161`. Because Laravel's exception handling

[2021-02-16 10:53] hotmeteor commented on #29
Brilliant, thanks. Agreed about the error handling, and TBH I thought this would have been reported better already.

I've got some ideas on how to make this better, this was helpful. I'll hack on it this morning.

[2021-02-16 15:55] hotmeteor commented on #29
@michaeldyrynda This will update the validation message to instruct developers to run `spectral` on their spec file in this scenario. Is that what you were thinking?

https://github.com/hotmeteor/spectator/pull/31/files#diff-c8cb7e65bde7d6818e010889c26269555ed33f9e0aad75e9ecb4cfbe891fc139R143

[2021-02-16 22:34] beblife opened #32 "Not respecting disabled exception handling in tests"
I noticed that when an exception occurs and is caught by [this code](https://github.com/hotmeteor/spectator/blob/77a4cb1e6e636b6a243d9520e1a0d35a5402547a/src/Middleware.php#L49-L51) with exception handling disabled using `$this->disableExceptionHandling()` in a test, the full stacktrace is not shown when using the `assertValidRequest()` or `assertValidResponse()` assertions.

The message states so

[2021-02-16 22:54] hotmeteor commented on #32
Makes sense. Are you PRing or should I have a go at it? This PR might be somewhat helpful/related: https://github.com/hotmeteor/spectator/pull/31

[2021-02-17 08:48] beblife commented on #32
I can make a PR for it. Thanks for the link!

[2021-02-17 12:49] #29 closed

[2021-02-17 14:28] #32 closed

[2021-02-26 16:36] chartjes opened #37 "Valid OpenAPI 3 spec not being accepted"
I have a valid OpenAPI 3 spec and Spectator keeps insisting it is not valid.

I have in config/spectator.php

[code]

in my .env file I have

[code]

In the filesystem my specification file is at `spec/openapi.yml`

In my test case I have:

[code]

In the body of response I get

[code]

If I use a CLI validator, I get the following

[code]

[2021-02-28 20:56] beblife commented on #37
I think you might not be specifying the source correctly.
Have you added `SPEC_SOURCE=local` to your `.env` file?

[2021-03-27 21:47] #37 closed

[2021-04-09 09:52] xbojch opened #38 "ErrorException : Undefined property: stdClass::$type"
The `allOf` property is not resolved correctly and doesn't act as a replacement for the `type` property.
Validating a response with a spec below (only the relevant parts) results in the error in the issue title.

Is this an issue in Spectator or related to https://github.com/cebe/php-openapi/issues/31?

**Workaround**
Replacing the `allOf` with a `type` property resolves the error.

[code]

[2021-04-09 18:01] xbojch commented on #38
I ended up using https://github.com/osteel/openapi-httpfoundation-testing with https://github.com/DarkaOnLine/L5-Swagger as described [here](https://hackernoon.com/validate-your-php-api-tests-against-openapi-definitions-a-laravel-example).

[2021-04-21 14:04] hotmeteor commented on #38
@xbojch Can you provide more information on what you're trying to do? I added a test for this and didn't hit an issue, but I'm sure I'm not replicating it properly: https://github.com/hotmeteor/spectator/blob/v1.0.0/tests/ResponseValidatorTest.php#L277

[2021-04-21 14:58] xbojch commented on #38
The `Components.v1.yaml` looks correct. The path `/` that's being tested is not defined in it though or am I missing something.
The schema`MySchema` seems to not be used anywhere. Try referencing the `MySchema` in a response, that tripped it for me.

[2021-04-21 17:55] #38 closed

[2021-04-21 17:57] hotmeteor commented on #38
@xbojch This should be fixed in v1.0.1. There is an issue with the parsing of component references, so I've got a workaround until the underlying package is fixed.

[2021-04-21 20:19] xbojch commented on #38
Thank you very much @hotmeteor. I'll give it another try, because I just love how much shorter and more understandable it makes the tests.

[2021-05-13 12:30] tsterker opened #46 "Call to undefined method Opis\JsonSchema\ValidationResult::getErrors()"
It seems there was one code path missed during the [recent upgrade to `opis/json-schema`](https://github.com/hotmeteor/spectator/commit/8d56d2e709f624732e7ea1a737c38ea3772bb866#diff-d2ab9925cad7eac58e0ff4cc0d251a937ecf49e4b6bf57f8b95aab76648a9d34R23).

Unfortunately I currently don't have the time to provide a tested PR.

In `RequestValidator@validateParameters`, it's still `getErrors()`:

https:/

[2021-05-13 14:37] #46 closed

[2021-05-13 14:38] hotmeteor commented on #46
Thanks, just caught that myself. It'll be tagged in a moment.

[2021-05-19 09:44] bastien-phi opened #53 "Request validation not working when using SubstituteBindings middleware"
After upgrading to version 1.2, all my tests with path parameters fail with error
[code]

After some research, it looks like the `Spectator\Middleware` is ran after `Illuminate\Routing\Middleware\SubstitueBindings` so the `$validator` receives the model here https://github.com/hotmeteor/spectator/blob/master/src/Validation/RequestValidator.php#L73
[code]

Here is a failing test case (I can open a

[2021-05-19 13:38] bastien-phi commented on #53
As a workaround we can define `Spectator\Middleware` before `SubstituteBindings` in `$middlewarePriority` of `HttpKernel`

[code]

[2021-05-19 16:46] beblife commented on #53
Running into the same issue here on a project.

I think what @bastien-phi is suggesting as a workaround can be achieved using `prependToMiddlewarePriority()` combined with the current `appendMiddlewareToGroup()` [here in the package's service provider](https://github.com/hotmeteor/spectator/blob/master/src/SpectatorServiceProvider.php#L39).

[2021-05-21 01:12] hotmeteor commented on #53
Ya, it's funny, I was messing around with this the other day and thought that might become an issue. I'm going to create a branch, can y'all try it out?

[2021-05-21 01:15] hotmeteor commented on #53
Here it is: https://github.com/hotmeteor/spectator/pull/54

Truth be told, before I reworked the route parameter parts I'm not sure URL matching was actually working that well. So it probably should have been doing this the whole time.

[2021-05-21 06:06] bastien-phi commented on #53
@hotmeteor The patch works perfectly ! Thanks !

[2021-05-21 14:11] #53 closed

[2021-05-21 14:13] hotmeteor commented on #53
Patched. Thanks!

[2021-07-02 12:34] joshjackson-newicon opened #57 "getJson giving "The data (array) must match the type: object" error"
Hi there,

Got an issue with a spectator validation that seems to be doing something odd.

Here is the relevant part of the schema:

[code]
In a test I have this line:

[code]

I am getting the following error:

[code]

I am a bit confused as to how the request body doesn't match the schema? Can you shed any light on this. I have also tried adding page and per_page parameters to the request in the

[2021-07-05 21:55] bilfeldt opened #58 "Not compatible with oneOf/anyOf/allOf, not"
It is possible to use the `oneOf`, `anyOf` or `allOf` notation in OpenAPI 3.0 Schemas as described in the [official documentation here](https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/) when describing requests/responses, but this causes a problem when trying to compare the schema.

The original error was
[code]

Now this is caused by [src/Validation/RequestValidator.php#L1

[2021-07-16 15:45] hotmeteor commented on #57
Hey sorry for the delay in response.

What does your request look like? I don't see any parameters there. Also, I would expect a request to be an `array` and not an `object`, that's how it'll be parsed by the Laravel router.

Glad you like the package!

[2021-07-16 15:46] hotmeteor commented on #58
Ya this is a known limitation, we've hit it as well in our own API testing. It's actually a shortcoming in the underlying parsing library.

When I find time to dig on it a bit more I will and update here.

[2021-07-19 17:59] JoshPJackson commented on #57
Hey no probs. I've updated the request to be as follows:

[code]

and now I'm getting this error:

[code]

I'm not sure if this means I've included a type somewhere I shouldn't have, or I am missing a type field somewhere?

[2021-07-22 14:22] hotmeteor commented on #57
Ya that's a weird error. Did you figure it out?

[2021-07-22 15:43] JoshPJackson commented on #57
No not yet. I can make the request in postman absolutely fine so that helps narrow down the issue a bit. My problem is that I can't use xdebug when running phpunit tests so I'm not sure how to narrow the cause down further. You got any ideas on how to track it down?

[2021-07-22 17:15] hotmeteor commented on #58
@bilfeldt OK, I have a branch I'm working on that provides support for `anyOf` and `oneOf` (`allOf` is still not working).

However, iIt appears that in order to use `oneOf` you need to either defined `required` properties or set `additionalProperties: false`. The [`oneOf` documentation](https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/) doesn't have this, but this is in err

[2021-07-24 15:41] JoshPJackson commented on #57
So after a consideranble amount of digging, I've found the cause of the error. This is function assumes a type property exists on the schema https://github.com/hotmeteor/spectator/blob/master/src/Validation/AbstractValidator.php#L41. It could be worth checking if the type fields exists first and giving a helpful error message if not. What do you think?

[2021-07-24 18:08] hotmeteor commented on #57
Are you able to send me the schema for:

- `#/components/responses/401`
- `#/components/schemas/accesstype`

Then I'll write a test and see if I can sort it out.

[2021-07-24 19:25] bilfeldt commented on #58
Dear @hotmeteor thanks for taking the time to look at this. Do you have a branch which I should have a look at? The least I can do is test if this solves the issues I have been facing with this.

[2021-07-24 19:36] hotmeteor commented on #58
@bilfeldt Try this one: https://github.com/hotmeteor/spectator/pull/59

[2021-07-24 20:40] JoshPJackson commented on #57
Here is the schema for access type:
[code]

and the 401:

[code]

What is came down to in the end was the accesstype schema not have a type defined.

[2021-07-24 23:21] hotmeteor commented on #57
@JoshPJackson Using the schema you provided I wrote a test but I'm not hitting any issue. Can you confirm this is the correct schema?

[code]

[2021-07-26 09:13] JoshPJackson commented on #57
Sorry my mistake. The original AccessType schema did not have the `"type": "object"` above the `"properties"` field. This is what was causing the error. It would be good to improve the error message to say what field is missing, and where it is missing from. I can have a look into this and make a PR?

[2021-07-26 10:38] hotmeteor commented on #57
That would be awesome. Please do!

[2021-10-06 23:55] #58 closed

[2021-10-14 20:12] b166er opened #67 "Uncaught ErrorException: Return type of cebe\openapi\spec\Paths::offsetExists($offset) ..."
I'm confused about this exception and have no idea how to resolve it. After doing some testing, I can't figure out what the problem is.

my test-case:
[code]
my /routes/api.php:
[code]

my test.yaml
[code]

Full Stack Exception:
[code]

if i execute this small php-code i get same exception:
[code]

any ideas? maybe my test.yaml schema has a bug or is malformed?

[2021-11-14 19:22] drmovi opened #69 "ErrorException : Incorrectly nested style tag found."
Version: 1.3
Laravel Version: 8.65

Steps to reproduce:
       1. create test case with api specs require a response item
       2. run test case against created path with required response item

Output:
ErrorException : Incorrectly nested style tag found.
 /var/www/html/vendor/laravel/framework/src/Illuminate/Macroable/Traits/Macroable.php:114
 /var/www/html/vendor/laravel/framework/src/Illuminat

[2021-11-15 03:28] jarrodparkes commented on #69
@drmovi do you have a spec and test case that you can provide as examples?

[2021-11-15 03:33] drmovi commented on #69
@jarrodparkes
Specs:

[code]

TestCase:

[code]

[2021-11-15 15:38] jarrodparkes commented on #69
thanks @drmovi — we'll take a look first chance we get 👀 !

[2021-12-04 04:06] jarrodparkes opened #70 "Feature Request: Expected vs Actual Debugging"
When running a spec/contract test, it would be _extremely_ beneficial to see the expected (passing) criteria against the actual. This could be shown via a flag, method, etc.

For example:

[code]

^^ And if this coincides with a failure, then it is pretty clear what the developer needs to do.

Right now, it is very difficult to grok what goes wrong when a contract test fails. I think this would be

[2021-12-10 14:52] #69 closed

[2021-12-10 14:52] #70 closed

[2021-12-10 17:07] jarrodparkes opened #81 ""oneOf" error reporting appears to be lacking compared to other polymorphic types"
I wrote a quick example test to demonstrate how "oneOf" error reporting _appears_ to be lacking.

[code]

For the `anyOf` test, the error output looks like this...

[code]
^ Notice how the erroneous type (`age`) is marked.

For the `oneOf` test, a similar problem is introduced with the example response, but no such error message about the erroneous type...

[code]

My hunch is that this issue stem

[2021-12-14 12:32] ronaldwanink commented on #13
Closed issue, but since this confused me already several times: (ref https://laracasts.com/discuss/channels/laravel/any-good-ideas-on-what-to-do-next).

Analysing a 422 and then having test failures on all kind of places with 400's is really confusing. Also I get frequently "incorrectly nested style tag" error with it, so my console seems to struggle also with it.

[2021-12-20 19:23] emilianozublena opened #84 "Allowing $ref in spec"
Hello everyone! first of all, great package! not sure if this is allowed by the library (and the underlying parser) but, will it read through $ref's as long as they're valid within open api specs?

Thanks everyone!

[2021-12-22 14:04] jarrodparkes commented on #84
@emilianozublena thank you for the kind words.

Yes, this library should read `$ref`s. However, if you have a circular reference, then it stops short of validating the circular reference so that it doesn't hit an infinite loop.

Have you been experiencing otherwise?

[2021-12-22 15:53] emilianozublena commented on #84
Not so far, we made it work, though it's really hard to identify if "something" is wrong w the spec... we're having issues were the library is exploding but no meaningful errors are returned (and the validators we're using against the spec are green flagging it and all the generators from both swagger & openapi community driven ones are working).

Any ideas? can share an example of the spec, thoug

[2021-12-22 17:27] jarrodparkes commented on #84
@emilianozublena what version are you using? we recently made a bunch of changes in v1.4.0 that should print meaningful errors. can you share the current error output? I'd expect to see the expected schema with the errors alongside

[2021-12-22 17:42] mjt2021 commented on #84
@jarrodparkes hey there, we are indeed using v1.4

let me give you some examples of things we've been facing:
- if there are relational paths written like this "./../" it just fails with an "undefined offset"
- this discussion: https://github.com/hotmeteor/spectator/discussions/86

if fixed a small issue in SchemaValidationException.php :
 // is this a polymorphic schema?
        $polymorphic_keys

[2021-12-22 17:50] jarrodparkes commented on #84
@mjt2021 hmm, that wasn't quite what I was expecting. Have you been able to produce any failure output that looks like this?

[code]

Or is it the case that we are failing before any validation actually occurs?

[2021-12-22 17:51] mjt2021 commented on #84
still no luck reaching that level of detailed error. i do get "url not found in spec" but if found, i'm facing some issues

[2021-12-22 21:12] jarrodparkes commented on #84
@mjt2021 is this the same thing referred to in #86 ? Did you solve it?

[2021-12-22 21:14] mjt2021 commented on #84
it is not the same. important thing here i guess is this piece of code

                    $polymorphic_keys = array_flip($polymorphic_keys);
                    $polymorphic_keys = array_values($polymorphic_keys);    <<<< added this line cause the array had 1 item with key name 1

            if (! empty($polymorphic_keys)) { // first, check for a polymorphic schema...
                $polymorph

[2021-12-23 14:16] jarrodparkes commented on #84
@mjt2021 and what did changing this line of code do? can you provide a full example (files) so I could reproduce? it sounds like you are suggesting a fix, but I'm still not really sure what the fix is doing

[2021-12-23 14:45] mjt2021 commented on #84
Sorry that I can't provide enough information on the spec, but I can share the piece that is giving me issues

This spec:
        ResponseWithPagination:
              title: Base response w pagination
              allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                - required:
                  - paging
                  properties:

[2021-12-23 20:11] jarrodparkes commented on #84
@mjt2021 This is still not quite everything I need to reproduce the issue. Can you share an example of the test/asserting you are running. If security is an issue, just omit anything you don't want to share publicly. Also, can you format the YML (using back ticks)? That would make this a lot easier to grok.

[code]

[2021-12-24 12:15] mjt2021 commented on #84
This error happened during the `assertValidResponse(200)`

Actual test is very simple. The spec is very large and has lots of references
[code]
Let me know if this is enough. Otherwise, I can try to do an atomic example of the issue, and I'll share the files then. Sorry again for the trouble :)

Hey have a nice holiday today! If you celebrate anything at all!

[2021-12-31 15:18] jarrodparkes commented on #84
thanks @mjt2021 I'll be back in the office Monday and can take a look then

[2022-01-12 08:38] SudoGetBeer opened #87 "Route parameter check with integer"
Hello,

I think I have found a problem with the functionality introduced in #79 .

Failing Test:
[code]

And add this to Test.v1.json:
[code]

I can PR the error if you want that.

Thanks for this package.

[2022-01-12 14:56] jarrodparkes commented on #87
@SudoGetBeer good find. if you've got a solution/fix, by all means, we'd love the contribution 😄 !

[2022-01-13 14:57] philsturgeon opened #88 "basePaths / server URLs"
Got an interesting situation here where an API has a global URL (not my choice).

[code]

In my tests I'm doing

[code]

Then Spectator is saying `  Path [GET /v1/orgs/{orgUuid}] not found in spec.`

Fair enough! Can I teach it to strip the prefix, or something? I don't want to change the OpenAPI to use /v1 in all the paths because its part of the server URL not the path.

Will buy you some coffee

[2022-01-13 15:38] jarrodparkes commented on #88
Could you simply adjust the test to drop the `v1` prefix?

[code]

Or, I think you can add a path prefix in the `spectator.php` config file:

[code]

Would that solve your problem?

[2022-01-14 21:24] philsturgeon commented on #88
If I drop v1 from the test it will return a 404 as that URL does not existing in Laravel.

I tried every combination I could think of:

| v1 in test  | v1 in path param | v1 in OpenAPI | Outcome Test
| ------------- | ------------- | ------------- | ------------- |
| ❌ | ❌ | ❌ | ❌
| ✅ | ❌ | ✅ | ✅
| ❌ | ✅ | ❌ | ❌
| ❌ | ✅ | ✅ | ❌

It did work when I put v1 in the test and in the openapi path but tha

[2022-01-14 21:37] philsturgeon opened #90 "Incorrectly nested style tag found - it's not dead yet"
The "Incorrectly nested style tag found." error reported in #69 should have been solved in #78, but even when using the latest version (1.4.0 which that fix was in) I'm still getting this error.

[code]

It's particularly upset about this piece of JSON:

[code]

The OpenAPI for this model:

[code]

My test will work if I use factories to create a bunch of data for the orders, but I should not have

[2022-01-17 15:40] hotmeteor commented on #84
@jarrodparkes Do you need any help debugging this?

[2022-01-17 15:44] #87 closed

[2022-01-17 15:48] hotmeteor commented on #88
@philsturgeon Thanks for the report, looking at this.

[2022-01-17 16:03] hotmeteor commented on #88
@philsturgeon Here's my mock spec:

[code]
And either of these setups work:
[code]
or
public function test_uses_global_path()
{
    Spectator::setPathPrefix('v1')->using('Global.v1.yaml');

    $uuid = (string) Str::uuid();

    Route::get('/v1/orgs/{orgUuid}', function () use ($uuid) {
        return [
        'id' => 1,
        'uuid' => $uuid,
        'name' => 'My Org',
    ];
    })->middlewa

[2022-01-17 16:34] hotmeteor commented on #90
@philsturgeon

Using this test schema:
[code]
I'm not seeing any issues. Running these two tests:
[code]

[2022-01-17 17:05] jarrodparkes commented on #84
@hotmeteor yes please 🙏

[2022-01-25 11:43] philsturgeon opened #92 "assertingValidRequest even when not expected"
Hey, I really like this tool, sorry to keep finding problems, but I'm working on an article for it. 🙌🏻

So I've got a test which makes sure invalid URLs show a 404 and matches the defined schema (I want to see :Problem JSON not awkward backtraces or 500s right?)

The test was this:

[code]

I get the "Invalid nested style tag found error" which was meant to have been got rid of, but isn't quite de

[2022-01-25 14:37] jarrodparkes commented on #92
Hey @philsturgeon 👋

I'm going to guess you are seeing this behavior because Spectator, in order to try and validate the response, performs its entire validation process behind the scenes. I need to confirm this.

It may be the case that we will need some sort of `skipValidRequest`, or minimally, to inform users of this behavior.

#90 and #88 are on our radars too 👍

Best,
Jarrod

[2022-01-25 14:40] hotmeteor commented on #92
What @jarrodparkes said. I'll poke around on these again today. Were you able to review my comments on #88 and #90?

[2022-01-25 14:53] philsturgeon commented on #92
Thank you for the response and the insight. The technical implementation aside, it seems most logical for skipValidRequest to be the default behavior, and assertValidRequest() to be called if you'd like to validate the request.

It could be that you do indeed perform the validation on everything, then strip out request related feedback if they've not asked for feedback on the request?

[2022-01-25 15:17] philsturgeon commented on #88
I wonder if the leading slash, or maybe the `Route::prefix()` is causing the different outcomes here?

[code]

[2022-01-25 19:55] hotmeteor commented on #92
@philsturgeon I can't be 100% sure without seeing your code, but I think what you're seeing is possibly based on the way your test is structured. I was able to get the expected results with this test:

[code]
However, within your app test suite that could be different when it comes to route model binding. Can you try going to `SpectatorServiceProvider`, line 39, and changing:
[code]
to
[code]

[2022-02-04 17:25] #90 closed

[2022-02-04 17:27] philsturgeon commented on #92
I think we're doing different things.

[code]

That is a valid UUID. Try changing it to this:

[code]

Is that giving you request errors now?

[2022-02-04 17:28] hotmeteor commented on #92
I think you'd be doing a request test in that case, right? Making sure the URL has the right properties?

[2022-02-04 18:56] philsturgeon commented on #92
It’s not a request test. I should not need to make the request pass every single possible validation if I’m not testing to see if it’s a valid request.

The era api would respond with a 404 when I request /Foo/nonsense and I’m testing the response. The validity of the request isn’t relevant at all.

[2022-02-04 18:56] philsturgeon commented on #92
In case I’m being confusing, I should only be told about the validity of the request if I ask to assert valid request. Otherwise, I shouldn’t see anything about it.

[2022-02-04 19:03] hotmeteor commented on #92
Sorry, not trying to be difficult. I get what you're looking for, but I don't think it's possible with how you're testing.

Spectator is using the Laravel routing system to hit endpoints. That can be an existing route, or it can be a mock one (like in my test examples). Since it's using the router it's going to trigger the normal exceptions that any invalid request would trigger, if the values don

[2022-02-04 20:11] philsturgeon commented on #92
Laravel doesn’t know what the parameter schema validations are right? Only spectator knows that it’s format: uuid but Laravel hasn’t got a clue.

So if the exception is being thrown that it’s not a uuid, that has to be coming from spectator and not Laravel? And therefore it’s in your control to decide if you error or suppress?

On Fri, Feb 4, 2022 at 19:03, Adam Campbell ***@***.***> wrote:

[2022-02-08 11:02] ronaldwanink opened #97 "Nullable types behave unpredictable?"
For some reason, I can't get Spectator to check the responses against the specification.

OpenAPI file is properly 3.0.0 generated according to Swagger Editor.
Test use ->assertValidResponse(200) without giving an error, even if I deliberately make a typo in the Workplace model properties.

`/**
* @OA\Property(property="data", title="data", type="array", description="Data - wrapper containing the

[2022-02-10 10:30] bastien-phi commented on #97
Hi @ronaldwanink

Can you share your test to have more information ?

[2022-02-10 12:47] ronaldwanink commented on #97
Even better, after digging deeper I think I found something that looks like the root cause of all my confusion and tests failing to flag incorrect responses.  Between OpenAPI v2 and v3 the behavior of required + additionalProperties has changed (especially with ref's to ref's to schemas where constructs like AnyOf are used, which makes it very hard to notice).

Since I moved to OpenAPI v3, I am no

[2022-02-22 15:42] ArondeParon commented on #84
Experiencing the same issue. The exception doesn't provide any more details so it's a bit hard to debug without doing a deep dive into the the internals, but as it seems right now, it would make sense to wrap the function in `array_values` so that the `0` key is always present.

[2022-03-09 13:27] philsturgeon commented on #92
@ArondeParon nothing much for me to resolve as its just currently how Spectator works. there's a PR for testing the behavior, but it's unfinished. https://github.com/hotmeteor/spectator/pull/94

This is an excellent tool, and I hope this can be done to make it even excellenter.

[2022-03-09 16:09] hotmeteor commented on #92
Hey team, sorry for the delay. I'm going to give it another go today to see if I can do something clever here, since this is clearly something multiple people are running into.

[2022-03-09 16:10] hotmeteor commented on #92
@philsturgeon Ya this part I agree with for sure. I can't help if route model-binding fails, but it shouldn't care if it's actually a UUID or not.

[2022-03-09 16:18] hotmeteor commented on #92
@ArondeParon @philsturgeon

Ok, here's a test I've got that passes. Can you tell me what part I'm missing so I can be sure I'm testing it with your issue you're hitting?

[code]

[2022-03-09 16:58] philsturgeon commented on #92
Brilliant! Can we add:

[code]

[2022-03-09 17:21] hotmeteor commented on #92
Not sure I understand... why would that 404 in this scenario?

[2022-03-09 21:48] philsturgeon commented on #92
Because it doesn't exist!

[code]

The point of this test is to a) make sure it returns the 200 and valid contract when something exists, and b) to make sure it returns a 400 and valid error contract if it does not exist.

Instead of focusing on the response, it's giving me feedback on the validity of my request, which I have no asked for.

More on the example over here: https://apisyouwonthate.co

[2022-03-09 21:49] philsturgeon commented on #92
Your test is hardcoded so it will always return a response and a 200, but real APIs are not like that. They will need to test the sad path as well as the happy path, and your test could reflect that to help folks ensure their error messages are formatted correctly too.

[2022-03-09 21:50] hotmeteor commented on #92
Ah ok... this is exactly what I've been looking for. The previous iteration of the test example had what you're talking about, but I guess I was confused if that was an issue. Let me rework my example quick.

[2022-03-09 21:51] hotmeteor commented on #92
Is this what you mean?
[code]

[2022-03-09 21:52] philsturgeon commented on #92
Yeah that'll work! Thank you

[2022-03-09 21:52] hotmeteor commented on #92
Ok because that passes.

[2022-03-09 21:53] hotmeteor commented on #92
https://github.com/hotmeteor/spectator/pull/94

[2022-03-09 21:56] philsturgeon commented on #92
Weird! It blows up in my face over here and for others. I wonder if there's a difference in the simple implementation of the test vs the way its done with Pest, or proper controllers, or something else.

[2022-03-09 21:59] hotmeteor commented on #92
Ya I believe you, there's gotta be something else at play. The only thing I can think is that Laravel is barfing on a non-integer when it expects one to resolve the route. If you're using UUIDs though I assume you've got custom binding so that wouldn't do it. Hmm...

[2022-03-14 21:45] lsfiege commented on #69
Hi! I'm experiencing this same issue with the latest version, but the error message appears when I try to validate the response content.
Example:
[code]

In my test I have:
[code]

If the controller responds with another type of structure that does not match with the spec I see the error, but the error line in the PHPUnit stacktrace comes from the `->assertValidRequest()` line
[code]

[2022-03-22 12:07] greenxd commented on #69
i have same issue, with object wrapper in data

[2022-03-22 23:15] lsfiege commented on #69
@jarrodparkes thank you! I did the same workaround, also works if you turn off the error suppression as Phil suggests [here](https://github.com/hotmeteor/spectator/issues/90#issuecomment-1030195479)

[2022-03-23 13:52] greenxd commented on #69
if in  backend/vendor/hotmeteor/spectator/src/Exceptions/SchemaValidationException.php:124

`
public static function validationErrorMessage($schema, ValidationError $validation_error): string {
.....
       foreach ($schema_formatted as $key => $schema_item) {
         .....
        $strings[] = self::colorize($schema_item, Format::TEXT_GREEN);
    }

    `return "---\n\n".$error_flat."\n\n".implo

[2022-03-23 14:29] hotmeteor commented on #84
Feel free to create a PR!

[2022-03-23 14:30] hotmeteor commented on #69
Feel free to create a PR!

[2022-03-24 15:22] ronaldwanink opened #99 "Nullable seems to fail?"
I suddenly get an error on code that has worked before.

response->dump() returns the following 👍

`email_verified_at: string? <== The data (null) must match the type: string`

This seems wrong to me.. the `string?` type clearly states the nullable attribute is set.

The property is defined as

`@OA\Property(property="email_verified_at",description="Email verified at",example="2021-01-27 11:23:45"

[2022-04-04 07:34] jeserga commented on #99
+1

[2022-04-08 13:55] philsturgeon commented on #92
@hotmeteor if you fancy jumping on a zoom call sometime I'd be happy to work together to try and track it down? Use this link and just pretend its about the climate crisis so its free. 😆

[2022-04-08 14:09] philsturgeon opened #100 "OpenAPI v3.1 Support"
Hello! As the maintainer of [openapi.tools](https://openapi.tools) I'm interested in tracking progress towards supporting OpenAPI v3.1.

It's got a bunch of amazing changes in it, solving problems like the the [JSON Schema <!=> OpenAPI Schema Object divergence](https://apisyouwonthate.com/blog/openapi-json-schema-divergence), and fixes some other inconsistencies and duplicate ways of doing things.

[2022-04-11 11:09] hotmeteor commented on #92
Awesome, I'll find some time for us this week.

[2022-04-18 15:46] Perturbatio commented on #69
I think I've boiled this bug down to *either* the way in which the validationErrorMessage function creates the message, or (more probably right now i think) the way Symfony/Console's Table helper deals with multiline messages in the table header.

in `src/Symfony/Component/Console/Helper/Table.php` there's a line `$lines = explode("\n", str_replace("\n", "<fg=default;bg=default>\n</>", $cell))` th

[2022-04-22 13:21] K2ouMais commented on #88
I am having a similar issue with this package.

I want to test the ```/api/health``` like this.

[code]

In my openAPI file the path is just ```/health```...

How can I get around this?

Thanks in advance

[2022-04-26 12:56] SofLesc commented on #99
Duplicate of #68 ?

[2022-04-29 16:01] beblife commented on #84
@hotmeteor I think my PR here #101 would fix this issue!

[2022-06-20 11:24] joshuafranks commented on #92
Did you guys get anywhere with this? I'm facing a similar issue when testing for validation errors.

[code]

In this scenario, I want to assert that my API kicks back a 422 response in line with my specification. Instead, I end up with this failure:

[code]

Upon further inspection, I can see that it's failing because Spectator is attempting to validate the request:

[code]

This is not the behavi

[2022-06-20 23:57] philsturgeon commented on #92
Didn't help that I didn't put the link in that previous comment. https://calendly.com/philsturgeon/climate

[2022-06-22 15:20] ethanbray opened #103 "Responses using application/problem+json content type cannot be decoded"
I currently have several endpoints that can return possible errors/non-200 status codes. When these errors occur, the response `Content-Type` header is set to `application/problem+json` per [RFC 7807](https://datatracker.ietf.org/doc/html/rfc7807).

Attempting to validate one of these responses causes this error to be thrown

[code]

I tracked this down to the `body` method of `ResponseValidator`

[2022-06-27 10:55] ethanbray commented on #103
@hotmeteor Any chance you could review the linked pull request? This is currently stopping us from contract testing our error cases!

[2022-07-05 14:29] philsturgeon commented on #92
I've just noticed that even when I don't use assertValidResponse I'm still having spectator tell me that an intentionally invalid request is invalid. this means I have no way to test my 4xx responses.

[code]

@hotmeteor is there any chance I can invite you to the Protect Earth API private repo so you can just run `sail test` and play around with this? I'd love to increase the testing on this API.

[2022-07-06 07:51] yanlyan opened #107 "Skip request validation"
Hello, is there any feature to opt-out of the request validation like
`$this->skipRequestValidation()` ?

because it automatically validates the request even without `assertValidRequest()`

thank you

[2022-07-19 17:44] philsturgeon commented on #107
Potentially a duplicate of #92.

[2022-07-27 09:38] philsturgeon commented on #103
@ethanbray I was getting a different error with problem JSON and your fork hasn't changed it.

[code]

Test:

[code]

OpenAPI:

[code]

I tried switching the $ref to just a `type: object` but thats not making any difference.

[2022-07-27 12:26] hotmeteor commented on #92
Hey all, sorry for the radio silence.

Coming back at this with somewhat fresh eyes, it seems like Spectator needs to have APIs available that can disable portions of the validation process, similar to what was mentioned here: https://github.com/hotmeteor/spectator/issues/107

I'll put together a branch now and y'all can try it.

[2022-07-27 15:38] hotmeteor commented on #92
Alright @philsturgeon, @joshuafranks, etc., give this branch a try: https://github.com/hotmeteor/spectator/pull/110

[2022-07-27 19:39] philsturgeon commented on #92
Thanks for this @hotmeteor, I have tested it works as you've  demonstrated.

I gotta be honest though, it feels weird to turn off functionality that I have specifically not asked to be run. Introducing `Spectator::skipRequestValidation()` to tell it not to do something I am not asking it to do is the opposite of how I'd expect things to go.

It feels like `->assertValidRequest()` should only asser

[2022-07-27 19:41] hotmeteor commented on #92
Ya that makes sense. The reason is because the validation is run at request/response time, but assertions are _after_ the response.

I guess one way to get around this could be to "cache" the validation and then only report what the developer wants to see. But at least now we have a handle on what's doing this.

[2022-07-27 21:12] philsturgeon commented on #92
@hotmeteor that's exactly what I'm thinking! Yeah, you wanna build up "problems" then decide if they "matter' based on what the test is saying amtters, right?

Great that progress is here and I'm definitely not complaining, I just want this package to reach its fullpotential and be epic. I'm blogging about it already https://apisyouwonthate.com/blog/contract-testing-apis-laravel-php-openapi but th

[2022-07-28 14:26] joshuafranks commented on #92
I agree with Phil, it feels weird that we have to explicitly disable something we haven't asked for; I'll take a look under the hood this weekend and see if I can come up with something. Happy to pair up with you some time if you fancy it @hotmeteor!

[2022-07-28 18:32] hotmeteor commented on #92
OK gents, I've done it.

Check out the [skip-request-validation](https://github.com/hotmeteor/spectator/tree/skip-request-validation) branch again, you should have full control over what you want validated. I also made some other cleanups.

[2022-07-29 10:30] philsturgeon commented on #92
Brilliant! I've checked and it works, removing `assertValidRequest()` hides errors with invaldi requests! :D

Strangely I am getting errors that `3eefa532-38d3-37cc-a434-e5b60a6c205f` is not a valid UUID which I wasn't getting before, but that could be something else. The uuid is being made with `$this->faker->uuid()` if that helps.

[2022-07-29 10:31] philsturgeon commented on #92
Oh and a massive thank you for doing that! This is a great tool and I'm exfited to see it progress. If you've got a sponsor link I'll chuck a few beverages in there.

[2022-08-02 12:56] philsturgeon opened #112 "required readOnly/writeOnly"
When is a required field not required? When it's readOnly and you're writing, or writeOnly and you're reading.

This is something we had to handle when working on contract testing functionality in Prism: https://github.com/stoplightio/prism/issues/1142

The tldr there is that the 3.0 specification says specifically that a required readOnly field isnt required in a request body, and a required writ

[2022-08-08 13:18] #103 closed

[2022-08-08 13:38] hotmeteor commented on #107
@yanlyan This is now available in the latest release. Simply omit the validations you don't want.

[2022-08-08 13:38] #107 closed

[2022-08-08 15:56] #92 closed

[2022-08-08 16:08] philsturgeon opened #114 "application/problem+json giving strange expected/actual comparison"
The recent @ethanbray PR #104 made some improvements to `application/problem+json` handling but I still have other probems using it.

[code]

Test:

[code]

OpenAPI:

[code]

I tried switching the $ref to just a `type: object` but thats not making any difference.

_Originally posted by @philsturgeon in https://github.com/hotmeteor/spectator/issues/103#issuecomment-1196498686_

[2022-08-08 16:31] philsturgeon opened #115 "New uuid validation errors"
Since the new release I'm seeing strange errors with UUIDs showing as not valid.

[code]

The UUIDs are being generated by `$this->faker->uuid()` in a factory, and I know Spectator thinks they're valid because I dumped them out of my test suite and popped them into a test suite in yours.

This passes when added to `RequestValidationTest.php`.

[code]

[2022-08-08 16:38] philsturgeon commented on #115
I've put some debug into `src/Validation/RequestValidator.php` and right after `if ($result->isValid() === false) {` I popped in a dump:

[code]

This outputs:

[code]

Again that uuid is valid in your test suite, so... what am I doing wrong here?

[2022-08-10 23:43] lsfiege opened #116 "SpectatorServiceProvider prependMiddlewareToGroup causing problems after upgrading to 1.6.0.1"
Hello!

After upgrading from v1.5.1 to v1.6.0.1 I'm experincing an error indicating Array to string conversion coming from a custom Route::bind directive in my RouteServiceProvider. The error it's caused in the findOrFail() method of my Route::bind directive, but I'm not quite sure why this is happening only after upgrading spectator.

I'm not sure how I can reproduce the scenario in this package

[2022-08-11 09:13] joshuafranks commented on #115
Haven't had any luck reproducing this issue. If the `RequestValidator` test passes, it might be worth looking at the `Middleware` class to see if anything weird is going on there. There is an issue where requests are processed twice (#113); maybe this is affecting things? Seems unlikely, but who knows.

[2022-08-17 19:46] captnCC opened #118 "Requests are executed twice, breaking unique rules"
I started to adopt the package in a project that requires an unique handle per user. While testing the create api call against my spec it always errored out with a 422, because the handle wasn't unique.

Turns out, that the request was executed twice on behalf of the `Middleware`. Once on line 64 and the second time in the `validate` method if a spec was loaded.
Is this a bug or a feature? 🤔
Remov

[2022-08-18 22:20] joshuafranks commented on #118
I've addressed this issue in #113, just pending approval from the maintainers 👍

[2022-08-21 18:52] philsturgeon commented on #115
@joshuafranks thanks for the suggestion. Yeah something odd is happening trying to grab that parameter, and its trying to validate the _whole_ request instead of just the uuid itself.

[code]

That's coming from `src/Validation/RequestValidator.php`, modified, around 114.

[code]

[2022-08-21 19:36] philsturgeon commented on #115
Ah, right, got it.

Due to the way routes were set up in this app (I don't know why it was done this way) the incoming argument is an instance of a model and not a simple UUID.

[code]

So this is turning the instance of App\Models\Order into a string...

[code]

I'll make these routes a bit more normal.

[2022-08-22 04:03] kent013 opened #120 "URL Parameter typed as number will cause Error"
I'm using [apib2swagger](https://github.com/kminami/apib2swagger).
API definition in apib is like this.
[code]

generated openapi's schema is like this.
(pasted only parameter part)
[code]

and test API like

[code]

this will cause Error. Dumped result is

[code]

This is because of code
https://github.com/hotmeteor/spectator/blob/master/src/Validation/RequestValidator.php#L113-L136

[code]

numb

[2022-08-22 08:57] philsturgeon commented on #115
Right there's some magic I don't understand but basically switching from:

[code]

to this:

[code]

has got it working nicely.

If that's a use case you want to support then we can leave this open, but feel free to close the issue if thats not a use case you're trying to support.

[2022-08-23 12:53] philsturgeon opened #121 "No response object matching returned status code [200] when 201 is expected"
I'm being told that there's no 200 status code so a test is failing, but it actually is responding with a 200. It's meant to be 201, which is what my test is checking for (my controller was wrong).

[code]

So Spectator is detecting the response doesn't match the expectated status code, its just reporting it wrong in the error message.

[code]

[2022-08-24 14:50] Ry0xi commented on #120
I'm getting the same error.

[2022-08-25 09:33] #115 closed

[2022-08-25 12:17] hotmeteor commented on #121
What the message is saying is "The spec doesn't have a 200 response defined"... unless you're saying it does?

Either way, I think the message could be improved to say:

Or something to that effect.

[2022-08-25 12:19] hotmeteor commented on #120
Ah, OK. I bet if your example values were integers (`10`) instead of "strings" (`"10"`) it would have passed, but your point is valid since `number` is part of Open API.

[2022-08-25 12:32] #120 closed

[2022-08-25 13:05] hotmeteor commented on #116
Hm, interesting. I've not seen that before.

Would you be able to share the part of your spec that triggers this, as well as your test?

[2022-08-25 13:34] Ry0xi commented on #120
Thanks for fixing this!

[2022-08-25 15:33] philsturgeon commented on #121
Reading it now it makes sense, but was super confused at the time.

Can we do something like expected vs received?

Or something?

There's a fair few assertions that are `Failed to assert that true equals false` and I think language like this is usually more clear.

[2022-08-30 13:33] ethanbray opened #127 "Streamed responses are interpreted as a boolean body type"
We currently have some endpoints that stream their response, in our case the content is usually a CSV or PDF but it's also possible to stream JSON responses.

The `ResponseValidator::body` method is responsible for returning the body of a response, decoding the response if it is expected to be JSON.

https://github.com/hotmeteor/spectator/blob/f89e213c5ef3bac82c50c933f0b8156d83c332a1/src/Validatio

[2022-08-30 13:33] ethanbray commented on #127
@hotmeteor What do you think about this, does it seem like a reasonable fix to you? If you agree, I'll create a PR to implement it and verify there are no other spots where streamed responses may cause issues.

[2022-09-02 18:07] lsfiege commented on #116
Sorry, cannot share the exact code but can adapt it to illustrate the situation:

I have a [custom bind for my routes](https://laravel.com/docs/9.x/routing#customizing-the-resolution-logic) in the `RouteServiceProvider`
[code]
If I add a dump line to inspect the received value prior to the return of the bind callback I can see that the request it's being executed twice, and the received `$value` i

[2022-09-02 18:27] lsfiege commented on #116
Update: Tested manually the fixes introduced with #123 and the fix proposed with the open PR #113 and the issue is solved (only after applying the change of #113). So I will close this issue since the PR solves this

[2022-09-02 18:27] #116 closed

[2022-09-06 20:28] hotmeteor commented on #116
OK so I understand, you're saying #113 needs to be merged and then your issue is resolved?

[2022-09-06 20:33] #114 closed

[2022-09-06 21:01] lsfiege commented on #116
Yup, that's correct

[2022-09-07 18:04] hotmeteor commented on #118
Resolved in https://github.com/hotmeteor/spectator/pull/113

[2022-09-07 18:04] #118 closed

[2022-09-09 08:10] HughbertD opened #130 "Nested query parameters always fail validation"
Query string params such as `?filter[groupId]` always fail validation because retrieving them via `$this->request->query->has` and `$this->request->query->get` doesn't work.

Instead I think the parameter names need to become dot notated, e.g.

`filter[groupId] => filter.groupId`

So that they can be retrieved this way.

This issue should be fixed by: #129

[2022-10-05 10:44] jechazelle opened #131 "No error when a property isn't present in schema but present in response and reverse"
Hi community, 👋

I tried spectator, thank you for this package !
I read this [article](https://laravel-news.com/test-your-openapi-implementation-with-spectator) to try this package, and I have no error when I remove a property from schema or declaration.

For exemple:
* I removed this line **@OA\Property(property="name", type="string", example="name")** from Schema Tag, if I understand, when I exe

[2022-10-11 11:56] Peac36 opened #132 "Validation on nested object with `allOf` does not work correctly"
I have the following case:

[code]

Validation error:
[code]

it seems the `allOf` ignores the `nullable` tag and required all properties to not be null.
The same code without `allOf`(manually merging objects) seems to work fine.

According to swagger's documentation if all objects in `allOf` are valid then the merged object is valid as well, but here this does not seem to be true.

[2022-10-26 09:12] tsterker commented on #132
@Peac36 In your case I assume the issue is that you **declare `nullable` as a sibling element of `$ref`**, which will be ignored, as per OpenAPI spec:

I have not tested it, but I think you can fix this by using `allOf` in your `NestedObject` declaration:

**Before:**
[code]

**After:**
[code]

[2022-11-08 17:41] kent013 opened #136 "ErrorException: Undefined variable $response in Middleware.php"
Hi, I'm using 1.7.1.

When I have some error with my openapi spec, like

[code]

then

[code]

will occur at https://github.com/hotmeteor/spectator/blob/develop/src/Middleware.php#L68-L80

because `$response` is defined inside of try-catch block.
I don't know how to correctly fix this.
Currently just adding null safe.

[code]

full trace is

[code]

[2022-11-10 10:35] ricardonolan commented on #131
Having a similar issue, test passes regardless of whether the response matches the schema

[2022-11-10 17:23] shortcodes commented on #84
@beblife is your PR resolves the issue? I got newest version and testing still passes without errors if $ref is part of schema but it shoud not.

[2022-11-13 08:40] ricardonolan commented on #136
If your OpenAPI spec is incorrect, then the test is correct to fail, it's really up to you, how you want to handle the $response.
Spectator only checks if the $response matches the OpenAPI spec.

[2022-11-13 13:53] kent013 commented on #136
@ricardonolan
I think it is not problem on my code.

The problem is variable `$response` is declared in the try-catch scope. If there is a exception one of `InvalidPathException|MalformedSpecException|MissingSpecException|TypeErrorException|UnresolvableReferenceException`, then `$response` is not declared, and it will cause a `undefined variable` error at Line 80.

Since the code captures exceptio

[2022-11-13 14:22] ricardonolan commented on #136
Can you show the code?

[2022-11-13 14:25] kent013 commented on #136
@ricardonolan
 https://github.com/hotmeteor/spectator/blob/develop/src/Middleware.php#L68-L80

[code]

I don't know it is okay to return null from this method (working in my project though).

[2022-11-13 14:35] ricardonolan commented on #136
I meant to show the code of your test, which is causing the error.

[2022-11-13 14:40] ricardonolan commented on #136
My point is this, taking the below example from docs.

[code]

If you don't have a spec for the /user endpoint, then it is correct to give the error:
`ErrorException: Path [GET /user] not found in spec.`

I'm not sure why you'd want it to return null here, since that would mean the testCase could pass, when it shouldn't.
If you don't want a specific test to run through spectator, simply don't incl

[2022-11-13 15:30] kent013 commented on #136
@ricardonolan
Hmm...?

$response is not defined because Exception reported.
Not because the spec definition is corrupted.

I think Spectator should report Exception one of

[code]

not PHP error ErrorException.

[code]

[2022-11-13 15:53] kent013 commented on #136
@ricardonolan
for clarification,

When I have a API like

[code]

and if I mistyped plural projects as `project` like

[code]

And run test code like below,

[code]

reports

[code]

When I add a null safe at Middleware.php,

[code]

will get Exception which I needed.

[code]

[2022-11-13 16:42] ricardonolan commented on #136
Are you sure you have an up to date Spectator?
When I run a test with a missing spec, I do get the following (without having to add `return $response??null;`:
[code]

[2022-11-13 16:49] kent013 commented on #136
@ricardonolan
I'm using v1.7.1 (latest tag)

[2022-11-13 16:53] kent013 commented on #136
The code I mentioned is added via this PR.
https://github.com/hotmeteor/spectator/issues/118

[2022-11-14 13:55] beblife commented on #84
The PR only fixes outputting the exception message when dealing with nested reference paths, e.g `../../some-file.json`. There is nothing in there regarding validation of a schema and is most likely not an issue with this package but maybe of the `cebe/php-openapi` dependency that does the validation.

[2022-11-14 13:56] beblife commented on #84
@hotmeteor @jarrodparkes Wondering if this issue can be closed? Given that PR #101 is merged.

[2022-11-21 09:51] BobbyBorisov commented on #132
@tsterker I tried to use your advice with `allOf` and validation still fails unfortunately. After that I used `oneOf` and it worked.

What do you think might be the issue with `allOf`?

When I generate html doc via redoc when I use oneOf it shows `(any or null) or object` but before it was just `null or object`. If I use `allOf` docs generated is as well `null or object`. I would be perfect if its

[2022-11-21 15:22] tsterker commented on #132
@BobbyBorisov Sorry for misleading you. It actually also doesn't work for me either when using `allOf`.

I suspect this is related to these issues:
- https://github.com/hotmeteor/spectator/issues/68
- https://github.com/hotmeteor/spectator/issues/99

@jarrodparkes did an [initial assessment](https://github.com/hotmeteor/spectator/issues/68#issuecomment-951906402) on this, but it does not look like

[2022-11-22 15:35] hotmeteor commented on #136
Ya, that's interesting. It's clearly hitting one of the possible request exceptions but as a 500 error. I wonder if one of them shouldn't be included.

[2022-11-30 08:56] ronaldwanink commented on #132
This keeps popping up here also once a while.. no clue how I get rid of it. But now again I have a simple situation:

`vendor: string? <== The data (null) must match the type: string`

so without `$ref` or `AllOf()`, will try to figure out what happens.

[2022-11-30 10:57] ronaldwanink commented on #132
Update: an explicit conversion to `(string)` in the resource solves the issue.
Adding the attribute to `$casts` does **not**. solve it.